<div class="product-list">
  <h2>Product List</h2>
  <div *ngFor="let product of products" class="product-card">
    <h3>{{ product.name }} ({{ product.brand }})</h3>
    <p><strong>Category:</strong> {{ product.category.name }}</p>
    <p><strong>Price:</strong> ${{ product.price }}</p>
    <p><strong>In Stock:</strong> {{ product.inventory }}</p>
    <p>{{ product.description }}</p>
    <div *ngIf="product.image?.length">
        <ng-container *ngIf="product.name as productName">
            <img
                    *ngFor="let productImage of product.image"
                    [src]="'http://localhost:8080' + productImage.downloadUrl"
                    [alt]="productName"
                    class="product-img"/>
        </ng-container>    </div>
  </div>
</div>
